using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Halo_interaktif
{
    public class Hallo_warna_warni
    {
        //Method untuk menampilkan prompt dan membaca input dari console
        public static string BacaInput(string msg)
        {
            Console.BackgroundColor = ConsoleColor.DarkBlue;
            Console.ForegroundColor = ConsoleColor.Yellow;
            Console.Write(msg);
            Console.ForegroundColor = ConsoleColor.White;
            return System.Console.ReadLine();
        }
        //Method untuk menampilkan pesan ke console
        public static void TulisKonsol(string msg)
        {
            Console.BackgroundColor = ConsoleColor.DarkCyan;
            Console.ForegroundColor = ConsoleColor.White;
            System.Console.WriteLine(msg);
        }
        static void Main(string[] args)
        {
            Console.BackgroundColor = ConsoleColor.DarkCyan;
            Console.ForegroundColor = ConsoleColor.White;
            Console.WriteLine("Inilah Visual C# !");
            Console.WriteLine("==================");
            Console.WriteLine("");
            // pertanyaan untuk menginput data
            string nama = BacaInput("Silahkan masukkan nama Anda : ");

            //Ucapkan selamat datang ke C# kepada user
            TulisKonsol("Selamat Datang Ke Dunia C# Programming, " + nama);
            Console.ReadLine();
        }
    }
}
